<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" crossorigin="anonymous" type="text/css"/>
    <title>Access denied</title>
</head>
<body class="text-center">
<div th:fragment="content" class="w-100 h-100 p-3">
    <h2 class="font-weight-normal">403 - Access denied</h2>
</div>
</body>
</html>