<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <title>Editor page</title>
</head>
<body>
<div th:fragment="content" class="w-100 h-100 p-3">
    <h4 class="font-weight-normal">Edit page</h4>
</div>
</body>
</html>