<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Home page</title>
</head>
<body>
<div th:fragment="home" class="w-100 h-100 p-3">
    <h4 class="font-weight-normal">Home page</h4>
    <ul>
        <li class="p-2">Logged in as:
            <span sec:authentication="name"></span>
        </li>
        <li class="p-2">Roles:
            <span sec:authentication="principal.authorities"></span>
        </li>
        <li class="p-2">Last login:</li>
    </ul>
</div>
</body>
</html>