<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <title>Home page</title>
</head>
<body>
<div th:fragment="content" class="w-100 h-100 p-3">
    <h4 class="font-weight-normal mb-3">Home page</h4>
    <ul class="list-group">
        <li class="list-group-item">Logged in as:
            <span sec:authentication="name"></span>
        </li>
        <li class="list-group-item">Roles:
            <span sec:authentication="principal.authorities"></span>
        </li>
        <li class="list-group-item">Last login:
            <span th:text=${lastLogin}></span>
        </li>
    </ul>
</div>
</body>
</html>