<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Sign In</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link th:href="@{/css/login.css}" rel="stylesheet" crossorigin="anonymous" type="text/css"/>
</head>
<body class="text-center">
<div class="container">
    <form sec:authorize="!isAuthenticated()" class="form-signin" th:action="@{/login}" method="post">
        <img class="mb-4" th:src="@{/img/orange.png}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <span>Invalid username and password.</span>
        </div>
        <div th:if="${param.logout}" class="alert alert-success" >
            <span>You have been logged out.</span>
        </div>
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <div class="form-signin signout" sec:authorize="isAuthenticated()">
        <h1 class="h3 mb-3 font-weight-normal">You are already signed in.</h1>
        <form class="btn_container">
            <div class="form-group text-center">
                <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                    <input type="submit" value="Logout" />
                </form>
                <a class="btn btn-danger" href="javascript: document.logoutForm.submit()">Logout</a>
                <a class="btn btn-primary" href="/">Go back</a>
            </div>
        </form>
    </div>

</div>
</body>
</html>
